@import url(index.css);

html,
body {
  overflow: hidden;
}
html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  width: 100%;
  max-width: 480px;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  /* background-color: rgba(209, 126, 24, 0.68); */
  /* background: linear-gradient(to right, #d17e18b0, #f39c12b0, #f1c40fb0); */
  background: linear-gradient(
    to right,
    #104f55,
    /* Azul escuro inicial */ #1b5d66,
    /* Azul mais escuro */ #237a8b,
    /* Azul mais saturado */ #2e96a8,
    /* Azul médio escuro */ #3a9ab7,
    /* Azul claro */ #58b8d0,
    /* Azul mais claro */ #74c9db,
    /* Azul suave */ #a1d7e6,
    /* Azul muito claro */ #b4d8e7,
    /* Azul pastel */ #ffffff /* Branco */
  );
}

.logo-container {
  background-color: #237a8b;
  color: #f0f0f0;
  font-size: 4rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 10rem white;
  margin: 1rem;
}

.subtitulo {
  margin-bottom: 3rem;
}

.link-profissionais-container {
  border: 0.05rem solid white;
  border-radius: 50rem;
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-profissionais {
  width: 3rem;
  height: 3rem;
}

.link-profissionais {
  text-decoration: none;
  color: #0f0f0f;
  background-color: #ecf0f1;
  display: block; /* Agora o <a> se comporta como um bloco */
  padding: 1rem; /* Aplica padding corretamente */
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  margin: 1rem;
  width: 7rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;

  text-decoration: none;
  color: #0f0f0f;
  background-color: #ece2d0;
  display: block; /* Agora o <a> se comporta como um bloco */
  padding: 0.5rem; /* Aplica padding corretamente */
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  margin: 1rem;
  width: 7rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

.link-profissionais:hover {
  color: #ecf0f1;
  background-color: #0f0f0f;
}
